<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>
    {% block title %}{% endblock %}
  </title>
   
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
  crossorigin="anonymous"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <a href="/chart">Product Ratings Chart</a>
  <h1>Beauty Browser</h1>
  {% block content %}{% endblock %}
  {% block js %}{% endblock %}

  <footer></footer>
</body>
</html>