
  {% extends 'base.html' %}

  {% block content %}
  <div
    id="browse-by-choice"
    class="choice-window"
  >
    <div class="window-body">
      <h1>Welcome!</h1>

      <h2>Navigation</h2>
        <a href="/products">View all products</a>
        
      <h2> Browse by product type:</h2>
        {% for product_type in product_types %}
          <form action='/type'>
            <input type="checkbox" id="type" name="choose-type" value="{{product_type.product_type}}">
            <label for="choose-type"> {{product_type.product_type}}</label><br>
          <!-- </form> -->
          {% endfor %}    
        
      </div>
        <br>
       <div>
          
          <h2>Browse by brand:</h2>
           <SELECT>
            {% for brand in brands %}
              <OPTION value={{brand.company_name}}>{{brand.company_name}}</option>
            {% endfor %} </SELECT>
          </div>

        <br>
        <div>
        <!--<form>-->
          <button type="submit">Go</button>
        </form>
      </div>
    </div>
    {% endblock %}
