
{% extends 'base.html' %}
{% block title %}Beauty Browser{% endblock %}
{% block head %}
           
{% endblock %}
{% block content %}

  <body>
   <br>
    <div class="intro">
      
      <h2>Welcome!</h2>
      <p>Beauty browser displays information about cosmetic products across brands and retailers. Make your selections below to begin browsing. </p>
    
    </div>  
  <br>
  <form action='/search-products'>
    <h2> Choose a product type:</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
    {% for product_type in product_types %}
        <input type="radio" id="type" name="choose-type" value="{{product_type.product_type_id}}" class="product-type-radio">
        <label for="choose-type">{{product_type.product_type}}</label>
    {% endfor %}    
        </div>
      </div>
    </div>
    <br>

    <h2>Choose a brand:</h2>

    <select class="dropdown" id="brand-menu" name="choose-brand">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        
      </button>
      <option selected>  Brands         </option>
      
    </select>

    
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Search Products</button>
   
  </form>
  

</body>


{% endblock %}
