{% extends 'base.html' %}

{% block title %}{{ product.product_name }} - Details{% endblock %}


{% block content %}
<p><h4>product name: </h4>
  {{ product.product_name }}
</p>


<p><h4>brand name: </h4>
{{ product.brand.company_name }}
</p>


<p><h4>description: </h4>
  {{ product.description }}
</p>


<p><h4>product type: </h4>
{{ product.product_type.product_type }}
</p>


<p><h4>currency: </h4>
{{ product.currencies.currency_type }} {{product.currencies.currency_sign}}
</p>


<p><h4>retailer: </h4>
<a href= "{{ product.brand.company_website }}" >{{ product.brand.company_website }}</a>
</p>


<p><h4>rating: </h4>
{{ product.rating }}
</p>

  

{% endblock %}