{% extends 'base.html' %}

{% block content %}
<div
  id="products-window"
  class="browse-window"
>
  <div class="window-body">
    <p>
    products:
    </p>

    <p>{{ all_products[1].product_name }}</p>
    <p>{{ all_products[1].description }}</p>
    <p>{{ all_products[1].product_type }}</p>
    This is the brand object:
    <p>{{ all_products[1].brand }}</p>

    This is the brand object's company name:
    <p>{{ all_products[1].brand.company_name }}</p>

    This is the brand object's company website:
    <p>{{ all_products[1].brand.company_website }}</p>

    <!-- {% if all_products %}
   

        {% for product in all_products %}
            <p> {{product.product_name}} </p>
        {% endfor %}

  {% endif %} -->
    
  </div>
  {% endblock %}

