{% extends 'base.html' %}

    {% block content %}
    <div
      id="browse-by-choice"
      class="choice-window"
    >
      <div class="window-body">
        <p>
        How would you like to browse makeup today?
        </p>
        <form>
          <button type="submit">Browse by product type</button>
        </form>
      </div>
      {% endblock %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beauty Browser</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script
      src="http://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
  </head>

      <body>
        <header>
          <h1>Hello, Gorgeous!</h1>
        </header>
        <div
          id="browse-by-choice"
          class="choice-window"
        >
          <div class="window-body">
            <p>
            How would you like to browse makeup today?
            </p>
            <form>
              <button type="submit">Browse by product type</button>
            </form>
          </div>
    
          <div class="window-footer">
           
          </div>
      </div>
      </body>
    </html>

    in type.html - each product type is a <link 
    use jinja to include product_type_id as part of url
    
    in server - have a route that has one part of the url be a variable, (the product_type_id)
    inside view function in route pass product_type_id to crud function which  query product table
    
      in crud - make crud function to get products by product_type_id