{% extends 'base.html' %}

{% block content %}
<div
  id="browse-by-type"
  class="browse-window"
>
  <div class="window-body">
    <p>
    Great! These are the types of products available to browse:
    </p>
    {% if all_product_types %}
    <table>

        {% for type in all_product_types %}
            <tr>
                <td><form action="/{{ type[0] }}">
                  <button class="product-type-choice" id="browse-by-lipliner" type="submit"> {{ type[0] }}</button>
                </form>
              </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
    
  </div>
  {% endblock %}